# fly.toml app configuration file generated for 01-03-worksheets-30-task-cards on 2025-12-01T15:43:28+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = '01-03-worksheets-30-task-cards'
primary_region = 'bom'

[build]

[env]
  # Redis URL will be set as a secret

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
